/* Kristen Vincent's D3 coordinated viz style.css */

.map {
	fill: white;
	stroke: black;
	stroke-width: 1.5px;
	background-color: white;
	border: medium solid #999;
	margin: 10px 0 0 20px;
}

.chartTitle {
	font-weight: bold;
	font-size: 1.5em;
	font-color: white;

}

.chart {
	background-color: white;
	border: medium solid #999;
	float: right;
	margin: 0px;

}

#chartContainer {
	height: 606px;
	width: 689px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	border: medium solid #999;
}

#title {
	height: 75px;
	width: 966px;
}

#chartBottles {
	height: 485px;
		
}




