/* Kristen Vincent's D3 coordinated viz style.css */

.map {
	fill: white;
	stroke: black;
	stroke-width: 1.5px;
	background-color: black;
	border: medium solid #999;
	margin: 10px 0 0 20px;
}

.chart {
	background-color: rgba(128, 128, 128, 0.2);
	border: medium solid #999;
	float: right;
	margin: 10px 20px 0 0;
}

.numbers {
	fill: black;
	font-size: 5px;
}

